<div id="intro-video">
<video width="320" height="240" class="master-video" autoplay="autoplay" muted="true" loop="loop">
      <source src="https://assets.highcharts.com/vids/video_web_optimised_3mb.mp4" type="video/mp4">
        <object width="320" height="240" data="https://www.highcharts.com/media/editors/tinymce/jscripts/tiny_mce/plugins/media/moxieplayer.swf" type="application/x-shockwave-flash">
        <param name="src" value="https://www.highcharts.com/media/editors/tinymce/jscripts/tiny_mce/plugins/media/moxieplayer.swf">
        <param name="flashvars" value="url=https%3A//assets.highcharts.com/vids/video_web_optimised_3mb.mp4&amp;poster=/">
        <param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="true"></object> 
          <!--<source src="/videos/video.webm" type="video/webm">--> 
</video>
</div>
<div id="pippo">


</div>