<div class="no-margin-top content">

  <div class="row text-center">
    <div class="col-lg-3 no-margin base-container" id="olympic">
      <div class="title col-lg-12 col-md-12">
          <h2>Olympic Chart</h2>
          <p>Winter Olympic Medal Wins</p>
      </div>
      <div class="chart-image col-lg-12 col-md-12">
          <img src="assets/img/olympic.png" />
      </div>
      <div class="chart-image col-lg-12 col-md-12">
          <button type="button" class="btn btn-success" (click)="olympic()">GO TO CHART</button>
      </div>
    </div>

      <div class="col-lg-3 no-margin base-container" id="marathon">
        <div class="title col-lg-12 col-md-12">
            <h2>Olympic Chart</h2>
            <p>Winter Olympic Medal Wins</p>
        </div>
        <div class="chart-image col-lg-12 col-md-12">
            <img src="assets/img/olympic.png" />
        </div>
        <div class="chart-image col-lg-12 col-md-12">
            <button type="button" class="btn btn-success" (click)="marathon()">GO TO CHART</button>
        </div>
      </div>

        <div class="col-lg-3 no-margin base-container" id="population">
          <div class="title col-lg-12 col-md-12">
              <h2>Olympic Chart</h2>
              <p>Winter Olympic Medal Wins</p>
          </div>
          <div class="chart-image col-lg-12 col-md-12">
              <img src="assets/img/olympic.png" />
          </div>
          <div class="chart-image col-lg-12 col-md-12">
              <button type="button" class="btn btn-success" (click)="population()">GO TO CHART</button>
          </div>
        </div>

        <div class="col-lg-3 no-margin base-container" id="mortality">
          <div class="title col-lg-12 col-md-12">
              <h2>Olympic Chart</h2>
              <p>Winter Olympic Medal Wins</p>
          </div>
          <div class="chart-image col-lg-12 col-md-12">
              <img src="assets/img/olympic.png" />
          </div>
          <div class="chart-image col-lg-12 col-md-12">
              <button type="button" class="btn btn-success" (click)="mortality()">GO TO CHART</button>
          </div>
        </div>
        </div>
</div>

